.inform {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #f23809;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.item {
  display: block;
  margin: 15px;
  width: calc(100% / 5 - 40px);
}

.img {
  width: 200px;
  border-radius: 4px;
}

.info {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
}

.descr {
  margin-bottom: 23px;
  font-weight: 500;
}
