.form {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  overflow: hidden;
}

.input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;

  font-size: 20px;

  border: none;
  border-radius: 4px;
  outline: none;
  color: #3c3c3c;
  background-color: rgba(255, 255, 255, 0.676);
}

.formBtn {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  background-image: url('https://raw.githubusercontent.com/vadymfrlv/storage/bf122d30ec7deff66d71ff90cd7954d15f306163/homeworks/search.svg');
  background-color: transparent;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
